/* center H1 */
h1 {
  text-align: center;
}

#root{
  /*  want to thank scott casey for his help on this part */
  display:grid;
  grid-template-rows:auto 1fr auto;
  grid-template-areas:
  "nav"
  "content"
  "footer";
  overflow:hidden;
  height:100vh;
  max-height:100vh;
}

#root > nav{
  grid-area:nav;
  
}

#root > nav ~ div{
  grid-area:content;
  overflow-x:hidden;
  overflow-y:auto;
  
}

/* nav bar solid black opague */
.nav {
  /* nav size auto to fit screen */
  background-color: rgb(0, 0, 0);
  color: rgb(255, 191, 0);
  font-size: 1.0em;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-align: center;
  border: none;
}

.nav-tabs {
  --bs-nav-tabs-border-color: none!important;

}

.nav-tabs .nav-link {
  border: none!important;
}
/* set footer at bottom of page */
footer {
  grid-area: footer;
  width: 100%;
  background-color: #f8f9fa;
  color: black;
  text-align: center;
  gap:0.5rem;
}

body {
  background-color: #000000 !important;
  background-size: cover;
  height: 100vh; 
}

/* banner_pic full screen width */
.banner_pic {
  
  width: 100%;
}

.aboutme{
  margin-right:25px;
}
.icons{
  /* center items in column */
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:#f8f9fa;
  gap: 50px;
  
}

.svg-inline--fa{
  display: var(--fa-display, inline-block);
  height: 3em;
  overflow: visible;
  vertical-align: -0.125em;
}

/* center classname="hero_pic */
.hero_pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top : 50px;

  /*  clip path 20 sided polygon  */
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  /* round left bottom and top */
  border-radius: 50px 0 0 50px;

}


.lead{
  text-indent: 50px;
  font-family: 'Roboto', sans-serif;
}

.resume{
  margin-left: 50px;
  font-family: 'Roboto', sans-serif;
  color: white;
  flex-wrap: wrap;
}

.resumecontainer{
 margin-right: 50px;
}



/* p tag white */
p {
  color: white;
  margin-left : 50px;
}

/* mainportwindow center */
.mainportwindow {
  margin-left: auto;
  margin-right: auto;
}


.Wrapper {
  display: block;
  margin:2.5%;
    padding: 0%;
    padding-bottom: 2%;
    float:left;
    border: thin solid rgb(255, 191, 0);
    width: 350px;
    height: 250px;
    background-color: black;
    /* round edges */
    border-radius: 25px;
}

/* mouse over effect to make wrapper grow by 10% */
.Wrapper:hover {
  transform: scale(1.05);
  transition: all 0.5s ease;
}
.leftbutton{
  position: absolute;
  left:    25px;
  bottom:   0;
}

.rightbutton{
  position: absolute;
  right:    25px;
  bottom:   0;
}

/* center mainportfolio items */
.mainportfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.portfolioImg{
  width: 100%;
  height: 80%;
  object-fit: contain;
  object-position: center;
  
 
}
.Port-index {
  padding-left:2%;
  color : rgb(255, 191, 0);
  font-size: 3.5em;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-align: center;

}


/* h4 color white */
h4 {
  /* center */
  text-align: center;
  color: rgb(255, 191, 0);
}



.container{
  margin-bottom: 100px;
}

.containerport{
 height: 100vh!important;
}


/* a orange */
a {
  color: rgb(255, 191, 0)!important;
  /* text size */
  font-size: 1.5em;

}

/* change nav-link active to blue */
.nav-link.active {
  color: rgb(0, 0, 255)!important;
}

/* change background on nav-link active to dark grey */
.nav-link.active {
  background-color: rgb(255, 191, 0)!important;
}

/* particles-bg-canvas-self */
.particles-bg-canvas-self {
  width: 100%!important;
  height: 100%!important;
  position: fixed;
}

.footer {
  background-color: rgb(255, 255, 255);
  padding-bottom: 10px;

 
}
/* set social icons to 25x25px */
.socialicon {
  width: 35px;
  height: 35px;
}
/* change color of btn */
.btn {

  color: rgb(255, 255, 255);
  background-color: rgb(235, 157, 31)!important;
  border-color: rgb(255, 191, 0)!important;
  width: 100px!important;
  height: 25px!important;
  margin: 0 auto!important;
  padding: 0!important;
  text-align: center!important;
}
/* hide buttons only in Wrapper */
.Wrapper .btn {
  display: none;
}


/* show overlay on mouse over or click for mobile  */
.Wrapper:hover .btn {
  display: inline-block!important;
}

.form-control{
  margin-top: 75px;
  margin-bottom: 25px;
}







.label{
  color : rgb(255, 191, 0);
}

